<div>
	<h1>Hotels</h1>

	<p></p>

	<h2><strong>Platinum</strong> - <a href="http://www.dreamdowntown.com" target="_blank">Dream Downtown</a></h2>
		<p>no block unfortunately, but this place is sick<br />
			<small><a href="http://g.co/maps/uqmbf" target="_blank">355 West 16th St (btw 8th &amp; 9th Ave), New York, NY 10011</a><br />
				Phone: (212) 229-2559</small></p>
		
	<h2><strong>Gold</strong> - <a href="http://standardhotels.com/new-york-city/rooms?utm_source=google&utm_medium=cpc&utm_term=the+standard+nyc&utm_campaign=ABZ02_ny_brand&gclid=COu0vc-Ioa4CFcjc4AodU3hz5A" target="_blank">The Standard</a></h2>
		<p>also no block, but it's super cool<br />
		<small><a href="http://g.co/maps/gbne9" target="_blank">848 Washington Street (at 13th St), New York, NY 10014</a><br />
			Phone: (877) 550-4646</small></p>
	
	<h2><strong>Silver</strong> - <a href="http://www.fourpointssohovillage.com/" target="_blank">Four Points Sheraton</a></h2>
		<p>10 room block<br />
		<small><a href="http://g.co/maps/nnzdz" target="_blank">66 Charlton Street (btw Varick &amp; Hudson), New York, NY 10013</a><br />
		Phone: (212) 229-9988</small></p>
	
	<h2><strong>Bronze</strong> - <a href="http://www.tripadvisor.com/Hotel_Review-g60763-d1583937-Reviews-Comfort_Inn_Lower_East_Side-New_York_City_New_York.html" target="_blank">Comfort Inn LES</a></h2>
		<p>6 Queens and 6 Double rooms blocked<br />
		<small>(just say you are part of "Dan Storms's Wedding")<br />
		<a href="http://g.co/maps/kydmw" target="_blank">136 Ludlow St (btw Stanton &amp; Rivington), New York, NY 10013</a><br />
		Phone: (212) 260-4141</small></p>
	
</div>
