<div>
	<h1>Hotels</h1>

	<p></p>

	<p>Our wedding is over Columbus Day weekend, which is a big tourist time in NYC.  Unfortunately, that means that hotel costs are high for that weekend.  We've worked hard to get room blocks in a variety of easily accessible, cool neighborhoods in the city.</p>

	<hr>

	<p></p>

	<h2><strong>Platinum</strong> - <a href="http://www.dreamdowntown.com" target="_blank">Dream Downtown</a></h2>
		<p><small>This place is amazing.<br />
			<a href="http://g.co/maps/uqmbf" target="_blank">355 West 16th St (btw 8th &amp; 9th Ave), New York, NY 10011</a><br />
			Phone: (646) 625-4880<br /><br />

			Bronze Queen - $325<br />
			Silver Double - $365<br />
			Gold King - $375<br />
			(book by Sep 5 via phone for block rate - say "Thompson-Storms Wedding")<br /><br />

			Cancellation Policy: No fees or penalties if room is cancelled 48 hours prior to arrival date of 10/05/2012.</small>
			</p>

	<hr>
		
	<h2><strong>Gold</strong> - <a href="http://standardhotels.com/new-york-city/rooms?utm_source=google&utm_medium=cpc&utm_term=the+standard+nyc&utm_campaign=ABZ02_ny_brand&gclid=COu0vc-Ioa4CFcjc4AodU3hz5A" target="_blank">The Standard</a></h2>
		<p><small>Ok this is super cool too.<br />
		<a href="http://g.co/maps/gbne9" target="_blank">848 Washington Street (at 13th St), New York, NY 10014</a><br />
			Phone: (212) 784-5530<br /><br />

			Standard Queen - $336<br />
			Standard King or Superior Queen - $345<br />
			Deluxe King - $413<br />
			(No block here, but ask for the "Social Rate" when you call. Pls book asap because these rates are not locked in.)<br /><br />

			Cancellation Policy: No fees or penalties if room is cancelled 24 hours prior to arrival date of 10/05/2012.</small>
			</p>

	<hr>
	
	<h2><strong>Silver</strong> - <a href="http://www.fourpointssohovillage.com/" target="_blank">Four Points Sheraton Soho Village</a></h2>
		<p><small>Not as cool, but nice location and very reasonable.<br />
		<a href="http://g.co/maps/nnzdz" target="_blank">66 Charlton Street (btw Varick &amp; Hudson), New York, NY 10013</a><br />
		Phone: (888) 627-7083<br /><br />

		10 King or Double rooms blocked - $249.99<br />
		(book by Sep 5 via phone for block rate - say "Thompson-Storms Wedding")<br /><br />
		
		Cancellation Policy: No fees or penalties if room is cancelled 48 hours prior to arrival date of 10/05/2012.</small>
		</p>

	<hr>
	
	<h2><strong>Bronze</strong> - <a href="http://www.tripadvisor.com/Hotel_Review-g60763-d1583937-Reviews-Comfort_Inn_Lower_East_Side-New_York_City_New_York.html" target="_blank">Comfort Inn LES</a></h2>
		<p><small>Small rooms, but very close to The Box in the epic Lower East Side.<br />
		<a href="http://g.co/maps/kydmw" target="_blank">136 Ludlow St (btw Stanton &amp; Rivington), New York, NY 10013</a><br />
		Phone: (212) 260-4141<br /><br />

		6 Queen rooms blocked - $249.99<br />
		6 Double rooms blocked - $269.99<br />
		(book by Sep 1 via phone for block rate - say "Dan Storms's Wedding")<br /><br />
		
		Cancellation Policy: No fees or penalties if room is cancelled 30 days prior to arrival date of 10/05/2012. Otherwise 1 day room charges will be collected from the guest as no show charges.</small>
		</p>

	<hr>
	
		<h2><strong>Honorable Mention</strong> - <a href="http://www.airbnb.com/" target="_blank">AirBNB</a> &amp; <a href="http://www.vrbo.com/" target="_blank">VRBO</a></h2>
			<p><small>Both of these are great private room rental sites. This is by far the best way to stay in NYC for a lower price than the hotels above, and some of these spots are terrific. Suggested areas: West Village, East Village, LES, Chelsea, Soho, Korea Town/Murray Hill, Gramercy. Up to you to decide the right level of fancy for you.</small></p>

</div>

