<div class="left-side">
	<h1>Hotels</h1>

  <ul>
		<li>Platinum:  The Standard - blocks in NY don't save much money, but this is sick</li>
		<li>Gold:  Something - really nice hotel</li>
		<li>Silver:  Comfort Inn - closest to The Box, reasonable price, with few amenities</li>
	</ul>
	
</div>
