<div>
	<h1>Hotels</h1>

	<h2>Platinum</h2>
		<p>The Standard - blocks in NY don't save much money, but this is sick</p>
		
	<h2>Gold</h2>
		<p>Something - really nice hotel</p>

	<h2>Silver
		<p>Comfort Inn - closest to The Box, reasonable price, with few amenities</p>
	
</div>
