<div class="wrapper">
  
	<div>
			<p>Thank you to everyone who helped us "do things a bit different" at the wedding and beyond! Pics and videos coming soon...</p>

			<p>High Fives,<br />
				Dan &amp; Darci</p>

	</div>

</div>
