<div class="wrapper">
  
	<div>
			<p>We're doing things a bit different.  We are going to make this a wedding to remember.  We hope you are ready.</p>

			<p>But to make all this happen, <strong>we need some help</strong>.</p>
			
			<p>If you know you can join us on Sun, Oct 7, 2012, please fill out <%= link_to 'the short RSVP form', rsvp_path() %> (official invites are still to come).</p>

			<p>If you think you can't make it, or won't know <strong>within the next few weeks</strong>, please email <a href="mailto:D2NYWedding@gmail.com">D2NYWedding@gmail.com</a> and let us know.</p>
			
			<p>High Fives,<br />
				Dan &amp; Darci</p>

	</div>

</div>
