<div class="wrapper">
	
	<div class="left-side">
		<h1>RSVP</h1>

		<%= render 'emails/form' %>
	</div>

	<div>
			<p>
			<a href="http://www.facebook.com/events/328540627182926" target="_blank"><img src="/images/facebook.png"></a><br />
			<a href="https://twitter.com/D2NEWYORK" class="twitter-follow-button" data-show-count="false" target="_blank">Follow @D2NEWYORK</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</p>
	</div>

</div>

	<div>
		<div id="agenda-day">
			<h2>SATURDAY - Oct 6, 2012</h2>
			<p>Rehearsal dinner - family<br />
				 Sat night Drinks from 8pm - all (location tbd)
			</p>
		</div>

		<div id="agenda-day">
			<h2>SUNDAY - Oct 7, 2012</h2>
			<p>Small Family Ceremony - sunset<br />
				Reception - <a href="http://theboxnyc.com" target="_blank">The Box</a><br />
				189 Chrystie St btw Stanton &amp; Rivington<br />
				7pm - midnight<br />
				(sorry, no kids under 15)
			</p>
		</div>

		<div id="agenda-day">
			<h2>MONDAY - Oct 8, 2012</h2>
			<p>Brunch (specifics tbd)</p>
		</div>
	
	</div>

	<div>
		<a href="http://theboxnyc.com/#/?page=show" target="_blank"><img src="images/thebox.png"></a>
	</div>

