<div class="left-side">
	<h1>RSVP</h1>

<%= form_for(@email) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>



<div class="right-side">
	<ul>
		<li><a href="http://www.D2NEWYORK.com">www.D2NEWYORK.com</a></li>
		<li><a href="http://www.facebook.com/events/328540627182926">www.facebook.com/events/328540627182926</a></li>
		<li><a href="https://twitter.com/D2NEWYORK" class="twitter-follow-button" data-show-count="false">Follow @D2NEWYORK</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
	</ul>
</div>

<div class="right-side">
	<div id="agenda-day">
		SATURDAY - Oct 6, 2012

		Rehearsal dinner - family
		Sat night Drinks from 8pm - all (location tbd)
	</div>

	<div id="agenda-day">
		SUNDAY - Oct 7, 2012
		Small Family Ceremony around sunset

		Reception - <a href="http://theboxnyc.com">The Box</a>
		Chrystie btw Stanton &amp; Rivington
		7pm - midnight
		(sorry, no kids under 15)
	</div>

	<div id="agenda-day">
		MONDAY - Oct 8, 2012
		Brunch (specifics tbd)
	</div>
	
</div>

<div class="left-side">
	<a href="http://theboxnyc.com/#/?page=show" target="_blank"><img src="images/thebox.png"></a>
</div>

