<div>
	<h1>Registry</h1>
	
	<p></p>

	<p>You know we love to travel, and our honeymoon will be no exception. Not happy with just any old honeymoon, we've got an ambitious journey. Please help us make it a reality!</p>
	
	<p>We're using a registry service from Betterment to let you "sponsor" all the parts of our honeymoon.  Please check it out!</p>
	
	<p><%= link_to('D2NEWYORK Honeymoon Registry', 'https://gifts.betterment.com/d2newyork', :target => '_blank') %><br />
	<%= link_to('https://gifts.betterment.com/d2newyork', 'https://gifts.betterment.com/d2newyork', :target => '_blank') %></p> 

	<p>We'll be heading to Madrid, and then immediately down to the Canary Islands (off the coast of Morocco). We'll spend Christmas there, missing our families, but enjoying some sun!

	<p>From there, it's back to Spain, where we'll be visiting Sevilla, Granada, and rock climbing in the Sierra Nevadas.

	<p>Then it's across the Straight of Gibraltar, where we'll head immediately to Fez. Fez, the medieval capital of Morocco, has the world's largest ancient pedestrian city - lots of green tea and haggling in the markets for leather goods. It's been a dream location of Dan's for years, and is now one of Darci's as well.

	<p>Then it's back onto a plane...and home!</p>

</div>