<div class="wrapper">
	
	<div>
		
		<div>
			<p>We're doing things a bit different.  We are going to make this a wedding to remember.  We hope you are ready.</p>

			<p>But to make all this happen, <strong>we need some help.</strong></p>
			
			<p>If you know you can join us on Oct 7, please fill out the short RSVP form below (invites are still to come).</p>

			<p>If you think you can't make it, or won't know <strong>by Apr 30</strong>, please email danstorms [at] gmail [dot] com and let us know.</p>

		</div>
		
		<h1>RSVP</h1>

		<%= render 'emails/form' %>
		
		<p></p>
		
		<h2>D2NEWYORK - <i>Till <a href="http://en.wikipedia.org/wiki/Wrongful_death_claim" target="_blank3">Death Waiver</a> Do Us Part</i></h2>

	</div>

</div>

