<div class="wrapper">
	
	<div class="left-side">
		<h1>Schedule</h1>
	</div>

	<div>
			<p>
<!--			<a href="http://www.facebook.com/events/328540627182926" target="_blank"><img src="/images/facebook.png"></a><br /> -->
			<a href="https://twitter.com/D2NEWYORK" class="twitter-follow-button" data-show-count="false" target="_blank">Follow @D2NEWYORK</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</p>
	</div>

</div>

	<div>
		<div id="agenda-day">
			<h2>FRIDAY - Oct 5, 2012</h2>
				<ul>
				 	<li>Early arrivers drinks <i>(attendance not required)</i> at<br />
					  <a href="http://kingswoodnyc.com" target="_blank">Kingswood</a><br />
  					<small><a href="http://goo.gl/maps/ADc1j" target="_blank2">121 West 10th St btw Greenwich Ave &amp; 6th Ave</a>
  					<br />8:30 - 11pm
  				 	</small></li>
				</ul>
		</div>
		
		<hr>

		<div id="agenda-day">
			<h2>SATURDAY - Oct 6, 2012</h2>
				<ul>
					<li>Rehearsal Dinner for family &amp; invited guests at<br /> 
					  <a href="http://www.thesmithnyc.com" target="_blank">The Smith East Village</a><br />
  					<small><a href="http://goo.gl/maps/PEqXy" target="_blank2">55 3rd Avenue btw 10th &amp; 11th St</a>
  					<br />5:30 - 8pm
  				 	</small></li>
				 	<li>All welcome to join us for drinks from 8-11pm nearby at<br />
				 	  <a href="http://www.revivalbarnyc.com/" target="_blank">Revival</a><br />
				 	  <small><a href="http://goo.gl/maps/Qx2xF" target="_blank2">129 East 15th St 3rd Ave &amp; Irving Pl</a>
				 	  <br />8 - 11pm
				 	  <br />Dress code: Night on the town</small></li>
				</ul>
		</div>
		
		<hr>

		<div id="agenda-day">
			<h2>SUNDAY - Oct 7, 2012</h2>
			<ul>
				<li>Small Family Ceremony at 6:30pm</li>
				<li>Reception for all at <a href="http://theboxnyc.com" target="_blank">The Box</a><br />
					<small><a href="http://g.co/maps/kx9re" target="_blank2">189 Chrystie St btw Stanton &amp; Rivington</a><br />
					7pm - midnight<br />
					(sorry!! no kids under 15)<br />
					Dress code: Black tie red carpet<br /> (sequins, feathers, &amp; fascinators welcome)</small></li>
				</ul>
			</p>
		</div>
		
		<hr>

		<div id="agenda-day">
			<h2>MONDAY - Oct 8, 2012</h2>
			<ul>
				<li>Brunch at <a href="http://sanmarinosoho.com" target="_blank">San Marino Restaurant</a> (inside the Four Points Sheraton)<br />
				  <small><a href="http://goo.gl/maps/M8FK0" target="_blank2">66 Charlton St btw Hudson St &amp; Varick St</a>
					<br />9:30am - noon
					<br />Dress code: Hangover chic</small></li>
			</ul>
		</div>
		
		<hr>
	
	</div>

	<div>
		<p></p>
		<a href="http://theboxnyc.com/#/?page=show" target="_blank"><img src="images/thebox.png"></a>
	</div>

