<div class="wrapper">
	
	<h1>Planning Your Visit</h1>

	<div>
		<p>Welcome to NYC! It's an amazing city, and over the years Dan and Darci have collected up a few favorite spots. We hope this list helps you plan your visit.  Some are nostalgic, some are fun, and some are just plain awesome.</p>

		<a href="assets/visit_map.png" target="_blank"><img src="assets/visit_map.png"></a>
	</div>
	
	<p></p>
	
	<hr>

	<div>
		<div id="agenda-day"><h2>1 -- Beauty &amp; Essex</h2>
				<p>A restaurant/nightclub with breathtaking décor and fabulous food. Looking for a hotspot? This is it. Reservation required. Great for brunch/dinner.<br /><br />
					  <small>146 Essex St (between Rivington St & Stanton St)
					  <br />(212) 614-0146
  				 	<br /><a href="http://www.beautyandessex.com" target="_blank">http://www.beautyandessex.com</a></small></p></div><hr>

            <div id="agenda-day"><h2>2 -- Spunto</h2>
            <p>A relaxed, family friendly pizza spot on our street. Amazing thing crust pizza. Definitely our favorite. Great for lunch/dinner.<br />
            <br />
            <small>65 Carmine St (between Bedford St & Bleecker St)
            <br />(212) 242-1200
            <br /><a href="http://www.spuntothincrust.com" target="_blank">http://www.spuntothincrust.com</a></small></p></div><hr>

            <div id="agenda-day"><h2>3 -- Amy's Bread</h2>
            <p>Wonderful West Village bakery. Darci’s favorite is the butterscotch cashew bar. A great last-minute wedding gift! Great for breakfast/lunch.<br />
            <br />
            <small>250 Bleecker St (between Leroy St & Cornelia St)
            <br />(212) 675-7802
            <br /><a href="http://www.amysbread.com" target="_blank">http://www.amysbread.com</a></small></p></div><hr>

            <div id="agenda-day"><h2>4 – Hecho en Dumbo</h2>
            <p>Exceptional Mexican food in a super cool bar/restaurant atmosphere. Authentic and inviting. Great for brunch/dinner.<br />
            <br />
            <small>354 Bowery (between 3rd St & Great Jones St)
            <br />(212) 937-4245
            <br /><a href="http://www.hechoendumbo.com" target="_blank">http://www.hechoendumbo.com</a></small></p></div><hr>

            <div id="agenda-day"><h2>5 -- Luke's Lobster</h2>
            <p>Luke’s opened across the street when Dan & Darci were first dating. We love love love the lobster roll and crab roll. Be careful, you will crave this place. Great for lunch/dinner.<br />
            <br />
            <small>93 E 7th St (between 1st Ave & Avenue A) 
            <br />(212) 387-8487
            <br /><a href="http://www.lukeslobster.com" target="_blank">http://www.lukeslobster.com</a></small></p></div><hr>


            <div id="agenda-day"><h2>6 -- Bourgeois Pig</h2>
            <p>When we first found this lounge, we were worried that someone had been following Darci and collecting her favorite things without us knowing – fondue, bruschetta, cheese, red wine, champagne…oh my. Great night spot.<br />
            <br />
            <small>111 E 7th St (between 1st Ave & Avenue A)
            <br />(212) 475-2246
            <br /><a href="http://www.bourgeoispigny.com" target="_blank">http://www.bourgeoispigny.com</a></small></p></div><hr>

            <div id="agenda-day"><h2>7 -- Redhead</h2>
            <p>This East Village neighborhood bar has some of the best food in the city. You must try Dan’s favorite – the buttermilk fried chicken. Great dinner spot.<br />
            <br />
            <small>349 E 13th St (between 1st Ave & 2nd Ave)
            <br />(212) 533-6212
            <br /><a href="http://www.theredheadnyc.com" target="_blank">http://www.theredheadnyc.com</a></small></p></div><hr>

            <div id="agenda-day"><h2>8 -- Sabon</h2>
            <p>Luxury bath and body shop. There are several around the city, but this one is our favorite. Ladies will love the lemon mint body scrub.<br />
            <br />
            <small>434 6th Ave at 10th St
            <br />(212) 473-4346
            <br /><a href="http://www.sabonnyc.com" target="_blank">http://www.sabonnyc.com</a></small></p></div><hr>

            <div id="agenda-day"><h2>9 -- Sushi Yawa</h2>
            <p>Affordable neighborhood spot with a relaxed atmosphere and fresh sushi. Great for lunch/dinner.<br />
            <br />
            <small>25 W 8th St (between 5th Ave & MacDougal St) 
            <br />(212) 253-9888
            <br /><a href="http://www.sushiyawa.com" target="_blank">http://www.sushiyawa.com</a></small></p></div><hr>

            <div id="agenda-day"><h2>10 -- Grey Dog</h2>
            <p>The original Grey Dog was on Carmine St, near where Dan & Darci live. Before furniture in a new apartment, Grey Dog kept us sane. Now we have to walk a whole 10 minutes, and we do. Great casual breakfast/lunch/dinner spot.<br />
            <br />
            <small>90 University Pl (between 12th St & 11th St)
            <br />(212) 414-4739
            <br /><a href="http://www.thegreydog.com" target="_blank">http://www.thegreydog.com</a></small></p></div><hr>

            <div id="agenda-day"><h2>11 -- Cibar</h2>
            <p>Just a bar. Where a boy, fresh from England, met a girl, fresh from a fashion show. Fate, Alida, Jen, and Duvel brought them together. Great night spot.<br />
            <br />
            <small>56 Irving Pl (between 17th St & 18th St)
            <br />(212) 460-5656
            <br /><a href="http://www.cibarlounge.com" target="_blank">http://www.cibarlounge.com</a></small></p></div><hr>

            <div id="agenda-day"><h2>12 -- Big Daddy's</h2>
            <p>Looking for a friendly diner for brunch? This is it! Be ready for big portions and great shakes! Great for breakfast/lunch.<br />
            <br />
            <small>239 Park Ave S (between 19th St & 20th St)
            <br />(212) 477-1500
            <br /><a href="http://www.bigdaddysnyc.com" target="_blank">http://www.bigdaddysnyc.com</a></small></p></div><hr>

            <div id="agenda-day"><h2>13 -- Fish's Eddy</h2>
            <p>Edgy, unique, and incredibly fun commercial quality dish and glassware with plenty of other things to make people smile.<br />
            <br />
            <small>889 Broadway (between 19th St & 20th St)
            <br />(212) 420-9020
            <br /><a href="http://www.fishseddy.com" target="_blank">http://www.fishseddy.com</a></small></p></div><hr>

            <div id="agenda-day"><h2>14 -- Sagaponack</h2>
            <p>Great American bar/restaurant with casual neighborhood atmosphere and good food. Great lunch/dinner spot.<br />
            <br />
            <small>4 W 22nd St (between 5th Ave & 6th Ave)
            <br />(212) 229-2226
            <br /><a href="http://www.sagaponacknyc.com" target="_blank">http://www.sagaponacknyc.com</a></small></p></div><hr>

            <div id="agenda-day"><h2>15 -- Bathtub Gin</h2>
            <p>Super cool speakeasy lounge in Chelsea. Enter via Stone Street Coffee and say hi to the bouncer to get let in. Bathtub Gin is a bit tricky to find but completely worth it. Get here early if you can and grab a tall table near the front. Great night spot.<br />
            <br />
            <small>132 9th Ave (between 18th St & 19th St)
            <br />(646) 559-1671
            <br /><a href="http://www.bathtubginnyc.com" target="_blank">http://www.bathtubginnyc.com</a></small></p></div><hr>

            <div id="agenda-day"><h2>16 -- Spice</h2>
            <p>Yummy affordable Thai spots all around the city.  Great lunch/dinner spot.<br />
            <br />
            <small>199 8th Ave (between 20th St & 21st St)
            <br />(212) 989-1116
            <br /><a href="http://www.spicethainyc.com" target="_blank">http://www.spicethainyc.com</a></small></p></div><hr>

            <div id="agenda-day"><h2>17 -- Shake Shack</h2>
            <p>Iconic burgers in the middle of Madison Square Park. Muy famoso, there will be a line. It is worth it. Amazing shakes and fries. The whole package. Great lunch/dinner spot.<br />
            <br />
            <small>Madison Square Park, E 23rd St & Madison Ave
            <br />(212) 889-6600
            <br /><a href="http://www.shakeshack.com" target="_blank">http://www.shakeshack.com</a></small></p></div><hr>

            <div id="agenda-day"><h2>18 -- Schnippers</h2>
            <p>Didn’t think you’d find green chili in NYC? Think again. You can get it on your burger, grilled cheese, or a few other dishes at this relaxed spot. Definitely recommended! Great for lunch/dinner.<br />
            <br />
            <small>23 E 23rd St (between Avenue Of The Americas & Madison Ave)
            <br />(212) 233-1025
            <br /><a href="http://www.schnippers.com" target="_blank">http://www.schnippers.com</a></small></p></div><hr>

            <div id="agenda-day"><h2>19 -- Cask</h2>
            <p>Another great casual bar/restaurant. Noticing a theme? Great for brunch/dinner.<br />
            <br />
            <small>167 E 33rd St (between Lexington Ave & 3rd Ave)
            <br />(212) 300-4924
            <br /><a href="http://casknyc.com" target="_blank">http://casknyc.com</a></small></p></div><hr>	
            
  </div>

