<div class="after-wrapper">
  
	<div>
      <div id="filters">
          <ul>
              <li><a href="#" data-filter="*">All</a></li>
              <li><a href="#" data-filter=".ceremony">Wedding - Ceremony</a></li>
              <li><a href="#" data-filter=".reception">Wedding - Reception</a></li>
              <li><a href="#" data-filter=".canary">Honeymoon - Canary Islands</a></li>
              <li><a href="#" data-filter=".sevilla">Honeymoon - Sevilla</a></li>
          </ul>
      </div>
      
      <div id="container">
        <div class="box ceremony">
          <iframe src="http://player.vimeo.com/video/64006101?byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <div class="box reception">
          <iframe src="http://player.vimeo.com/video/64022777?byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <div class="box canary">
  			  <img src="http://danstorms.smugmug.com/Other/D2-Spain-Morocco-Honeymoon/i-rQbLnSS/1/S/IMG_0057-S.jpg" width="225" />
  			</div>
  			<div class="box sevilla">
  			  <img src="http://danstorms.smugmug.com/Other/D2-Spain-Morocco-Honeymoon/i-vvvhVzc/1/S/IMG_0228-S.jpg" width="225" />
  			</div>
  			<div class="box canary">
  			  <img src="http://danstorms.smugmug.com/Other/D2-Spain-Morocco-Honeymoon/i-hmnqBdN/1/S/IMG_0060-S.jpg" width="225" />
  			</div>
  			<div class="box canary">
  			  <img src="http://danstorms.smugmug.com/Other/D2-Spain-Morocco-Honeymoon/i-kbsTzXK/1/S/IMG_0066-S.jpg" width="225" />
  			</div>
  			<div class="box canary">
  			  <img src="http://danstorms.smugmug.com/Other/D2-Spain-Morocco-Honeymoon/i-BM7ctVv/1/S/IMG_0069-S.jpg" width="225" />
  			</div>
  			<div class="box canary">
  			  <img src="http://danstorms.smugmug.com/Other/D2-Spain-Morocco-Honeymoon/i-fM3qCWZ/1/S/IMG_0072-S.jpg" width="225" />
  			</div>
  		</div>
	</div>

</div>

<script src="/javascripts/jquery-1.7.1.min.js"></script>
<script src="/javascripts/jquery.isotope.min.js"></script>
<script src="/javascripts/fake-element.js"></script>
<script>
  var $container = $('#container');
  
  $container.isotope({
    // options
    itemSelector : '.box',
    layoutMode : 'masonry'
  });
  
  // filter items when filter link is clicked
  $('#filters a').click(function(){
    var selector = $(this).attr('data-filter');
    $container.isotope({ filter: selector });
    return false;
  });
  
</script>
