body {
	background: #000;
	background-image:url('/images/curtainlayers_1000w.png');
	background-repeat:no-repeat;
	background-position:center top;
	color: #B0B0B0;
	font-family: Tahoma, "Museo Slab", Georgia, Serif;
}

/*------------------------------------*\
	IPHONE - not working yet
\*------------------------------------*/
/* @media all and (max-device-width: 480px){
	body{
  	-webkit-text-size-adjust:none;
  	font-family: Tahoma, "Museo Slab", Georgia, Serif;
  	padding:5px;
		background: #000; 
		background-image:url('/images/curtainlayers_1000w.png');
		background-repeat:no-repeat;
		background-position:center top;
		color: #B0B0B0;
	}
}
*/

header {
}

header h1 {
	color: #272323;
  font-size: 550%;
	font-weight: 700;
	text-align: center;
}

header img {
  padding: 1em;
  background: #ffa;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #000;
}

section h1 {
	color: #D0D0D0;
  font-size: 175%;
}

section h2 {
	color: #D0D0D0;
  font-size: 120%;
}

#page-wrap { 
	position: relative; 
	width: 450px; 
	margin: 260px auto; 
	padding: 20px; 
	background: black; 
	-moz-box-shadow: 0 0 20px black; 
	-webkit-box-shadow: 0 0 20px black; 
	box-shadow: 0 0 20px black; }

p { 
	font: 15px/2; 
	margin: 0 0 30px 0; 
}

div.left-side {
	float: left;
	width: 220px;
}

div.agenda-day {
	border:2px solid;
	border-radius:25px;
	-moz-border-radius:25px;
}

div.subtext {
	font-size: 70%;
}



/* Links */

a {
  color: #C0C0C0;
  text-decoration: none;
	text-decoration: underline;
}

a:hover {
  color: #C0C0C0;
  text-decoration: underline;
}

a:visited {
  color: #C0C0C0;
	text-decoration: underline;
}

/* Navigation */

nav {
}

nav {
  background-color: #272323;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  color: #C0C0C0;
  text-decoration: none;
}

nav ul li a:visited {
  color: #C0C0C0;
  text-decoration: none;
}

nav ul li a:hover {
  color: #C0C0C0;
  text-decoration: none;
}

/* Round corners */

.round {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 510px;
  margin-left: auto;
  margin-right: auto;
	font-family: Helvetica;
}

footer nav {
  float: none;
}


/* User show page */

table.profile {
	width: 100%;
	margin-bottom: 0;
}

td.main {
	width: 70%;
	padding: 1em;
}

td.sidebar {
	width: 30%;
	padding: 1em;
	vertical-align: top;
	background: #ffc;
}

.profile img.gravatar {
	border: 1pm solid #999;
	margin-bottom: -15px;
}

div.field, div.actions {
	margin-bottom: 10px;
}

hr {
	color: #4C0000;
	background-color: #4C0000;
}


input.textfield {
	background-image:url('/images/form_bg_darker.png');
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	border-radius:4px;
	width: 250px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
}


.field_with_errors {
	margin-top: 10px;
	padding: 2px;
	background-color: red;
	display: table;
}

.field_with_errors label {
	color: #fff;
}

#error_explanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#error_explanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#error_explanation ul li {
	font-size: 12px;
	list-style: square;
}

li {
	line-height: 2;
}
