body {
	background: #000;
	background-repeat:no-repeat;
	background-position:center top;
	color: #B0B0B0;
	font-family: Tahoma, "Museo Slab", Georgia, Serif;
}

/*------------------------------------*\
	IPHONE - not working yet
\*------------------------------------*/
/* @media all and (max-device-width: 480px){
	body{
  	-webkit-text-size-adjust:none;
  	font-family: Tahoma, "Museo Slab", Georgia, Serif;
  	padding:5px;
		background: #000; 
		background-image:url('/assets/curtainlayers_1000w.png');
		background-repeat:no-repeat;
		background-position:center top;
		color: #B0B0B0;
	}
}
*/

