<footer>
  <nav class="round">
<!--		<h2>D2NEWYORK - <i>Till <a href="http://en.wikipedia.org/wiki/Wrongful_death_claim" target="_blank3">Death Waiver</a> Do Us Part</i></h2> -->
		<h2><i>Till Death waiver do us part...</i></h2>
  </nav>
</footer>
